<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                {% if imp[3][0] != 0 %}
                    <title>{{imp[0]}} {{imp[3][0]}} - {{imp[1][0]}}</title>
                {% else %}
                    <title>{{imp[0]}} - {{imp[1][0]}}</title>
                {% endif %}
                {% if imp[3][0] != 0 %}
                        <meta name="title" content="{{imp[0]}}{{imp[3][0]}} - {{imp[1][0]}}">
                {% else %}
                        <meta name="title" content="{{imp[0]}} - {{imp[1][0]}}">
                {% endif %}
                <meta name="keywords" content="{{imp[0]}}">
                {% if imp[2][12] != 0 and imp[2][12] == 'w' %}
                    <meta name="description" content="{{data|cut_100}}">
                {% endif %}
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Dokdo|Gaegu|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Noto+Serif+KR|Noto+Sans+KR&amp;display=swap&amp;subset=korean" rel="stylesheet">
                <link rel="stylesheet" href="/views/sonagi/css/bootstrap.min.css?ver=2">
                <link rel="stylesheet" href="/views/sonagi/css/jquery-ui.min.css?ver=2">
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <link rel="stylesheet" href="/views/sonagi/css/main.css?ver=3">
                <link rel="stylesheet" href="/views/sonagi/css/mobile_main.css?ver=3">
                <link rel="stylesheet" href="/views/sonagi/css/style.css?ver=2">

                <script type="text/javascript" src="/views/sonagi/js/skin_set.js?ver=5"></script>
                <script type="text/javascript" src="/views/sonagi/js/jquery-3.6.0.min.js?ver=2"></script>
                <script type="text/javascript" src="/views/sonagi/js/bootstrap.min.js?ver=2"></script>
                <script type="text/javascript" src="/views/sonagi/js/jquery-ui.min.js?ver=2"></script>
                <script type="text/javascript" src="/views/sonagi/js/layout.js?ver=2"></script>
                <script>main_load(); window.addEventListener('DOMContentLoaded', function() { skin_set(); });</script>

                <link rel="shortcut icon" href="/views/main_css/file/favicon.ico">

                {{imp[3][3]|safe}}
                {{imp[1][5]|safe}}
                {{imp[2][3]|safe}}
        </head>
        <body class="sonagi">
                <div class="nav-wrapper">
                    <nav class="navbar navbar-dark">
                        <a class="navbar-brand" href="/">{{imp[1][4]|safe}}</a>
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/recent_changes"><span class="fa fa-book-open"></span><span class="hide-title">{{'recent_change'|load_lang}}</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/recent_discuss"><span class="fa fa-comments"></span><span class="hide-title">{{'recent_discussion'|load_lang}}</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/upload"><span class="fa fa-upload"></span><span class="hide-title">{{'upload'|load_lang}}</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/other"><span class="fa fa-bookmark"></span><span class="hide-title">{{'other'|load_lang}}</span></a>
                            </li>
                            {% if imp[2][2] == 0 %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/user" title="{{imp[2][5]}}"><span>사용자 도구</span></a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/user" title="{{imp[2][5]}}"><span>{{imp[2][5]}}님</span></a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="scroll-buttons">
                    <a class="scroll-toc" href="#toc"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
                    <a class="scroll-button" href="#" id="left"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                    <a class="scroll-bottom" href="#powered" id="right"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                </div>
                <div class="content-wrapper">
                    <div class="sonagi-sidebar">
                        <div class="sonagi-right">
                            <div id="login" class="login_w">
                                <div id="login" class="login_wrap mandudel ">
                                    {% if imp[2][2] == 0 %}
                                        <div class="user_info">
                                            <a href="/login"><img class=" " src="/views/sonagi/img/nologin.png"></a>
                                            <a class="info_item" href="/login"><strong>로그인하기</strong></a>
                                        </div>
                                        <div class="loging1"></div>
                                        <div class="info_item2">
                                            <a href="/register"><strong class="info_item2">회원가입</strong></a>
                                        </div>
                                    {% else %}
                                        <div class="user_info">
                                            {% if imp[2][4] != '' %}
                                                <div class="profile">
                                                    <img class="profile-img" src="https://secure.gravatar.com/avatar/{{imp[2][4]|md5_replace}}?d=identicon">
                                                    <div class="name">
                                                        <div class="account-name" title="{{imp[2][5]}}">{{imp[2][5]}}</div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="profile">
                                                    <img class="profile-img" src="https://secure.gravatar.com/avatar/00000000000000000000000000000000?d=identicon&f=y">
                                                    <div class="name">
                                                        <a class="gg" href="/w/user:{{imp[2][5]}}">
                                                            <div class="account-name" title="{{imp[2][5]}}">{{imp[2][5]}}</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="loging1"></div>
                                        <div class="info_item2">
                                            <a href="/alarm"><strong class="info_item2">알림({{imp[2][8]}})</strong></a>
                                            <a href="/logout"><strong class="info_item2">로그아웃</strong></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="item3 mainNotice">
                                <b class="title">{{'recent_change'|load_lang}}</b>
                                <div class="mainSlider">
                                    <div class="bx-wrapper" style="max-width: 100%;">
                                        <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 190px;"><ul class="noticeItem" style="width: 1px; position: relative; transition-duration: 0s; transform: translate3d(-7px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 394px;" class="bx-clone" aria-hidden="true">
                                            <ul class="live-recent-list" id="live-recent-list">
                                                {% for i in range(10) %}
                                                    <li><span class="recent-item">&nbsp;</span></li>
                                                {% endfor %}
                                            </ul>
                                            <a id="sonagi_recent_link" href="/recent_changes" title="{{'recent_change'|load_lang}}">
                                                <span class="label label-info">More</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ads">
                                <div class="adsmain"></div>
                            </div>
                        </div>
                    </div>   
                    <div class="container-fluid sonagi-content">
                        <div class="content-coler">
                            {% if imp[2][12] != 0 and imp[2][12] == 'w' %}
                                <form method="post" action="/search" id="searchform" class="form-inline">
                                    <div class="search_box">
                                        <input type="search" name="search" placeholder="{{'search'|load_lang}}" accesskey="f" class="form-control" id="searchInput" autocomplete="off">
                                        <button formaction="/goto" name="go" value="view" id="searchGoButton" class="btn btn-secondary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                            <div class="sonagi-content-header">
                                {% if not menu == 0 %}
                                    <div class="content-tools">
                                        <div class="btn-group" role="group" aria-label="content-tools">
                                            {% for sub_d in menu %}
                                                {% if loop.index > 5 %}
                                                    {% if loop.index == 6 %}
                                                        <button type="button" class="btn btn-secondary tools-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                                        {% set i = 0 %}
                                                    {% endif %}
                                                    <a class="dropdown-item" href="/{{sub_d[0]}}">{{sub_d[1]}}</a>
                                                {% else %}
                                                    {% if sub_d|length > 2 and sub_d[2] == 1 %}
                                                        <a class="btn btn-secondary tools-btn" href="/{{sub_d[0]}}" id="topic_color">{{sub_d[1]}}</a>
                                                    {% else %}
                                                        <a class="btn btn-secondary tools-btn" href="/{{sub_d[0]}}">{{sub_d[1]}}</a>
                                                    {% endif %}
                                                {% endif %}
                                                {% if not menu[loop.index] and loop.index > 5 %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <p style="text-align: right;">
                                            {% if imp[3][1] != 0 %}
                                                {{'last_edit_time'|load_lang}} : {{imp[3][1]}}
                                                <br>
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                                <div class="title">
                                    <h1 id="main_title">
                                        {{imp[0]}}
                                        {% if imp[3][0] != 0 %}
                                            <sub>{{imp[3][0]}}</sub>
                                        {% endif %}
                                    </h1>
                                </div>
                            </div>
                            <div class="sonagi-content-main wiki-article">
                                {% if request.path == '/License' %}
                                    <h3><a href="">sonagi</a> skin</h3>
                                    <li><a href="https://librewiki.net/">Liberty</a> base</li>
                                    <li><a href="https://sona.wiki/">YuJa</a>(frontend)</li>
                                    <li>ver : 01 </li>
                                    <br>
                                    <li>리버티 스킨( GPL-3.0 license ) 기반으로 배포된 소스코드 외 다른 소스코드 부분은 BSD-3-Clause license로 배포됩니다.</li>
                                {% endif %}
                                {{data|safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="sonagi-footer" id="bottom">
                        <p><a href="/License">License</a></p>
                        <p>본 위키는 {{imp[1][1]|safe}} 라이선스를 사용합니다.</p>
                        <div id="powered">
                            <a href="https://github.com/2DU/openNAMU"><img src="/views/main_css/file/s_logo.png" width="100px"></a>
                        </div>
                    </div>
                </div>
        </body>
</html>